.dialog-overlay {
  position:fixed;
  top:20px;
  left:50%;
  transform: translate(-50%);
  z-index: 9999;
}

.dialog-box {
  margin-bottom: 10px;
  background-color: grey;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dialog-box-buttons button {
  margin: 5px;
}
